{% macro field_id(field, sfx='') %}
  {% if field and field.id %}
    id="{{ field.id }}-{{ sfx }}"
  {% endif %}
{% endmacro %}

{% macro render_field_with_errors(field) %}
  <div {{ field_id(field, 'ctr') }}>
    {{ field.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white")|safe }}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul>
        {% for error in field.errors %}<li class="text-red-500 text-sm mt-1">{{ error }}</li>{% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_field(field) %}
  <div {{ field_id(field, 'ctr') }}>{{ field(**kwargs)|safe }}</div>
{% endmacro %}

{% macro render_field_errors(field) %}
  <div {{ field_id(field, 'ctr') }}>
    {% if field and field.errors %}
      <ul>
        {% for error in field.errors %}<li class="text-red-500 text-sm mt-1">{{ error }}</li>{% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_form_errors(form) %}
  {% if form.form_errors %}
    <div class="bg-red-50 border border-red-200 text-red-700 px-4 py-3 rounded mb-4" id="fs-form-errors">
      <ul>
        {% for error in form.form_errors %}<li>{{ error }}</li>{% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro prop_next() -%}
  {% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}
{%- endmacro %}
